<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <div class="charname">
                <input class="charname" name="name" type="text" value="{{actor.name}}" placeholder="Name" maxlength="40"/>
                <div class="level">
                    <label for="level">Lv.</label>
                    <input class="level" name="data.level" type="number" value="{{data.data.level}}" placeholder="1" maxlength="2"/>
                </div>
            </div>
            {{!-- Ratings: Cool, Tough, etc. --}}
            <div class="flexrow ratings">
                {{!-- TODO: Is the order stable? --}}
                {{#each data.data.ratings as |rating id|}}
                <div class="rating">
                    <label><a class="rollable" data-roll="2d6 + {{rating.value}}">{{localize (concat "MOTW." id)}}</a></label>
                    <input
                      type="text"
                      name="data.ratings.{{id}}.value"
                      value="{{rating.value}}"
                      data-dtype="Number"/>
                </div>
                {{/each}}
            </div>
        </div>
    </header>

    {{!-- Hunter Status --}}
    <section class="hunter-status flexrow">
        <div>
            <label class="header">{{localize "MOTW.Harm"}}</label>
            <div class="track-block">
                <a class="rating-icon heal-harm" title="Heal Harm" data="HealHarm">
                    <i class="fas fa-heart icon"></i>
                </a>
                {{> "systems/altmonsterweek/templates/actors/parts/track.html"
                    valueName="harm" value=data.data.harm}}
                <a class="rating-icon apply-harm" title="Apply Harm" data="ApplyHarm">
                    <i class="fas fa-skull-crossbones icon"></i>
                </a>
            </div>
            <div>
                <label>{{localize "MOTW.Unstable"}}:</label>
                {{> "systems/altmonsterweek/templates/actors/parts/track.html"
                    valueName="unstable" value=data.data.unstable}}
            </div>
        </div>
        <div>
            <label class="header">{{localize "MOTW.Luck"}}</label>
            <div class="track-block">
                <a class="rating-icon good-luck" title="Restore Luck" data="GoodLuck">
                    <i class="fas fa-gem icon"></i>
                </a>
                {{> "systems/altmonsterweek/templates/actors/parts/track.html"
                    valueName="luck" value=data.data.luck}}
                <a class="rating-icon bad-luck" title="Spend Luck" data="BadLuck">
                    <i class="fas fa-anchor icon"></i>
                </a>
            </div>
        </div>
        <!--div>
            <label class="header">{{localize "MOTW.Experience"}}</label>
            <div class="track-block">
                <a class="rating-icon forget" title="Remove Experience" data="Forget">
                    <i class="fas fa-eraser icon"></i>
                </a>
                {{> "systems/altmonsterweek/templates/actors/parts/track.html"
                    valueName="experience" value=data.data.experience}}
                <a class="rating-icon learn" title="Mark Experience" data="Learn">
                    <i class="fas fa-pencil-alt icon"></i>
                </a>
            </div>
        </div-->
        <div class="wealth">
            <label for="wealth-input" class="header">Wealth</label>
            <div class="wealth-input">
                <input name="data.wealth.value" type="number" value="{{data.data.wealth.value}}" placeholder="0" maxLength="6"/>
            </div>
        </div>
    </section>

    {{!-- Hunter Tabs --}}
    <nav class="motw-tabs tabs" data-group="primary">
        <a class="item" data-tab="moves" primary="true">
            {{localize "MOTW.Moves"}}
        </a>
        <a class="item" data-tab="gear">
            {{localize "MOTW.Gear"}}
        </a>
        <a class="item" data-tab="background">
            {{localize "MOTW.Background"}}
        </a>
    </nav>

    {{!-- Hunter Sheet Body --}}
    <section class="sheet-body flexrow">
        {{!-- Tabs --}}
        {{!-- Moves Tab --}}
        <div class="tab moves" data-group="primary" data-tab="moves">
            <ol class="inventory-list">
                <li class="inventory-header flexrow">
                    <h3 class="item">{{localize "MOTW.Moves"}}</h3>
                    {{#if owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title='{{localize "MOTW.Add"}}' data-type="Moves">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                    {{/if}}
                </li>
                <ol class="item-list">
                    {{#each actor.moves as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image" style="background-image: url({{item.img}});">
                            <i class="fa fa-dice-d20"></i>
                        </div>
                        <!--img class="item-image" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/-->
                        <h4 class="item-name">
                            {{item.name}}
                            {{#if (isNonEmptyString item.data.rating)}}
                            {{!-- TODO: Make this chip roll with the rating --}}
                            <span class="chip">{{localize (concat "MOTW." item.data.rating)}}</span>
                            {{/if}}
                        </h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Move"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Move"><i class="fas fa-trash"></i></a>
                            {{!-- TODO: "Create Move" button --}}
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </ol>
        </div>

        {{!-- Background Tab --}}
        <div class="tab background" data-group="primary" data-tab="background">
            {{editor content=data.data.background target="data.background" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Gear Tab --}}
        <div class="tab gear" data-group="primary" data-tab="gear">
            <ol class="inventory-list">
                {{#each actor.allGear as |section id|}}
                <li class="inventory-header flexrow">
                    <h3 class="item">
                        {{localize (concat "MOTW." section.label)}}
                    </h3>
                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title='{{localize "MOTW.Add"}}' data-type="{{section.label}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                    {{/if}}
                </li>
                <ol class="item-list">
                    {{#each section.items as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image" style="background-image: url({{item.img}});">
                            <i class="fa fa-dice-d20"></i>
                        </div>
                        <!--img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/-->
                        <h4 class="item-name">
                            {{item.name}}
                            {{#each (split item.data.tags " ") as |tag|}}
                            <span class="chip">{{tag}}</span>
                            {{/each}}
                        </h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                {{/each}}
            </ol>
        </div>

        {{!-- Holds Tab --}}
        {{!-- TODO: Add and remove elements --}}
        {{!-- TODO: May be worth making these full items so we can have a compendium of them --}}
        <!--div class="tab holds" data-group="right" data-tab="holds">
                {{editor content=data.data.holds target="data.holds" button=true owner=owner editable=editable}}
        </div-->
    </section>
</form>

