@font-face {
  font-family: 'Signika';
  src: url("../../../fonts/signika/signika-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url("../../../fonts/signika/signika-semibold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: '3rd Man Font';
  src: url(../fonts/3rd_man/3rdMan.otf) format("opentype");
}

@font-face {
  font-family: 'Source Serif Test';
  src: url(../fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf) format("truetype");
}

.altmonsterweek {
  --light-color: 							rgba(0, 0, 0, .25);
  --faint-color:              rgba(0, 0, 0, .1);
  --label-font: "3rd Man Font";
  --test-font: "Source Serif Pro";
  --modesto: "Modesto Condensed", "Palatino Linotype", serif;
  --signika: "Signika", sans-serif;
  /* Sheet Tabs */
  /* Items List */
  /* Chips */
}
.altmonsterweek .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
  background: url("/systems/altmonsterweek/images/ui/paper-512.jpg") repeat;
}
.altmonsterweek .sheet-header {
  height: 110px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.altmonsterweek .sheet-header .profile-img {
  flex: 0 0 110px;
  height: 110px;
  margin-right: 10px;
}
.altmonsterweek .sheet-header .header-fields {
  flex: 1;
  height: 110px;
}
.altmonsterweek input {
  border: 1px solid transparent;
  border-radius: 3px;
}
.altmonsterweek .sheet-header h1.charname {
  /* height: 55px; */
  /* padding: 0px; */
  /* margin: 5px 0; */
  border-bottom: 1px solid var(--light-color);
  margin-bottom: .5rem;
}
.altmonsterweek .sheet-header h1.charname input {
  width: 50%;
  height: 100%;
  margin: 1px;
  background: none;
  font-family: var(--label-font);
  font-size: xx-large;
}
.altmonsterweek .rating {
  text-align: center;
  border-left: 1px solid var(--faint-color);
  padding: 0 5px;
}
.altmonsterweek .rating label {
  font-size: x-large;
  line-height: 1;
  font-family: var(--label-font);
}
.altmonsterweek .rating label::after {
  display: block;
  content: '';
  /* height: 0; */
  width: 50%;
  border-bottom: 1px solid var(--faint-color);
  /* position: absolute; */
  /* bottom: -1px; */
  /* left: 50%; */
  transform: translate(50%, 0);
}
.altmonsterweek .rating input {
  background: none;
  width: 50%;
  font-size: x-large;
  font-family: var(--label-font);
}
.altmonsterweek .hunter-status {
  overflow: hidden;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.altmonsterweek .hunter-status div {
  text-align: center;
  flex: auto;
}
.altmonsterweek .hunter-status div.track-block i.icon {
  color: #7a7971
}
/* .altmonsterweek .hunter-status div.track-block a::before {
  content: "Truth";
}
.altmonsterweek .hunter-status div.track-block a::after {
  content: "Test";
} */
.altmonsterweek .hunter-status label.header {
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--test-font);
}
.altmonsterweek .track {
  white-space: nowrap;
}
.altmonsterweek .track span i.harm-divider {
  border-right: 1px solid #191813;
  padding-right: 2.5px;
}
.altmonsterweek .sheet-body {
  border-top: 1px solid #AAA;
}
.altmonsterweek .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.altmonsterweek .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.altmonsterweek .tab-content {
  overflow: hidden;
}
.altmonsterweek .tab-content .tab {
  height: 100%;
  overflow-y: auto;
}
.altmonsterweek .editor,
.altmonsterweek .editor-content {
  height: 100%;
}
.altmonsterweek img {
  background-color: black;
}
.altmonsterweek .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.altmonsterweek .inventory-list .inventory-header {
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
  line-height: 24px;
}
.altmonsterweek .inventory-list .inventory-header h3 {
  margin: 0 -5px 0 0;
  padding-left: 5px;
  color: #191813;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
}
.altmonsterweek .inventory-list .item-controls {
  flex: 0 0 18px;
  justify-content: flex-end;
}
.altmonsterweek .inventory-list .item-controls a {
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
}
.altmonsterweek .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.altmonsterweek .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  align-items: stretch;
}
.altmonsterweek .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.altmonsterweek .item-list .item-name {
  margin: 0;
  color: #191813;
}
.altmonsterweek .item-list .item-name:hover {
  text-shadow: 0 0 10px red;
}
.altmonsterweek .item-list .item-controls {
  flex: 0 0 36px;
}
.altmonsterweek .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.altmonsterweek .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.altmonsterweek .item-list .item-summary {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0.25em 0.5em;
  color: #191813;
}
.altmonsterweek .chip {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
.altmonsterweek.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.altmonsterweek.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
