@font-face {
  font-family: 'Signika';
  src: url("../../../fonts/signika/signika-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Signika';
  src: url("../../../fonts/signika/signika-semibold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: '3rd Man Font';
  src: url(../fonts/3rd_man/3rdMan.otf) format("opentype");
}
@font-face {
  font-family: 'Source Serif Test';
  src: url(../fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf) format("truetype");
}
.altmonsterweek {
  /* Sheet Tabs */
  /* Items List */
}
.altmonsterweek .window-content {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Signika", sans-serif;
}
.altmonsterweek .window-content form {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.altmonsterweek .rollable,
.altmonsterweek a {
  cursor: pointer;
}
.altmonsterweek .rollable:hover,
.altmonsterweek a:hover {
  text-shadow: none;
  color: #880808;
}
.altmonsterweek .sheet-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 5px 10px 5px;
}
.altmonsterweek .sheet-header .profile-img {
  flex: 0 0 110px;
  height: 110px;
  margin-right: 10px;
}
.altmonsterweek .sheet-header .header-fields {
  flex: 1;
  height: 110px;
}
.altmonsterweek .sheet-header .header-fields .rating {
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 5px;
}
.altmonsterweek .sheet-header .header-fields .rating label {
  font-size: x-large;
  line-height: 1;
  font-family: "3rd Man Font";
}
.altmonsterweek .sheet-header .header-fields .rating label::after {
  display: block;
  content: '';
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transform: translate(50%, 0);
}
.altmonsterweek .sheet-header .header-fields .rating input {
  background: none;
  width: 50%;
  font-size: x-large;
  font-family: "3rd Man Font";
}
.altmonsterweek .sheet-header .header-fields div.charname {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.altmonsterweek .sheet-header .header-fields div.charname div.level {
  display: flex;
}
.altmonsterweek .sheet-header .header-fields div.charname input.charname {
  width: 50%;
  height: 100%;
  margin: 1px;
  background: none;
  font-family: "3rd Man Font";
  font-size: xx-large;
}
.altmonsterweek .sheet-header .header-fields div.charname input.level {
  width: 25px;
  height: 100%;
  font-family: "3rd Man Font";
  font-size: xx-large;
}
.altmonsterweek .sheet-header .header-fields div.charname label {
  margin: 1px 5px 1px 1px;
  background: none;
  font-family: "3rd Man Font";
  font-size: xx-large;
}
.altmonsterweek .hunter-status {
  overflow: hidden;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 0 5px 0;
}
.altmonsterweek .hunter-status div {
  text-align: center;
  flex: auto;
}
.altmonsterweek .hunter-status div.track-block i.icon {
  color: #7a7971;
}
.altmonsterweek .hunter-status div.track-block i.icon:hover {
  text-shadow: none;
  color: #880808;
}
.altmonsterweek .hunter-status div.wealth {
  flex: 0.8;
  margin: 0 25px 0 0;
}
.altmonsterweek .hunter-status div.wealth .wealth-input {
  font-family: "3rd Man Font";
  font-size: x-large;
}
.altmonsterweek .hunter-status label.header {
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Source Serif Pro";
}
.altmonsterweek .track {
  white-space: nowrap;
}
.altmonsterweek .track span i.harm-divider {
  border-right: 1px solid #191813;
  padding-right: 2.5px;
}
.altmonsterweek input {
  padding: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  background: none;
  transition: background 0.3s ease, border-color 0.3s ease;
}
.altmonsterweek input button,
.altmonsterweek input select {
  cursor: pointer;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.9);
}
.altmonsterweek input:hover,
.altmonsterweek input:focus {
  box-shadow: 0px 0px 0px 1px #880808 inset;
}
.altmonsterweek .tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.altmonsterweek .tabs .item {
  padding: 5px 8px 0 8px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 14px;
  text-align: left;
  height: 26px;
  flex: 1 1 auto;
}
.altmonsterweek .tabs .item:first-child {
  padding-left: 16px;
}
.altmonsterweek .tabs .item:first-child.active {
  border-left-color: transparent;
}
.altmonsterweek .tabs .item:last-child.active {
  border-right-color: transparent;
}
.altmonsterweek .tabs .item.active {
  background: transparent;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom-color: transparent;
  cursor: default;
  text-shadow: none;
}
.altmonsterweek .tabs .item.active:hover {
  color: inherit;
}
.altmonsterweek .sheet-body {
  overflow: hidden;
  flex: inherit;
}
.altmonsterweek .sheet-body .tab {
  height: 60%;
  overflow-y: auto;
}
.altmonsterweek article {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px inset rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  flex: 1;
  margin: 8px;
  position: relative;
}
.altmonsterweek article .detail-label {
  font-weight: 700;
  padding: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 0.25rem;
  font-family: "Source Serif Pro";
}
.altmonsterweek article .editor,
.altmonsterweek article .editor-content {
  display: flex;
  flex-direction: column;
  min-height: calc(55%);
  padding: 0px 4px;
  position: static;
}
.altmonsterweek article .editor .editor-edit,
.altmonsterweek article .editor-content .editor-edit {
  background: transparent;
  top: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}
.altmonsterweek article .editor .editor-edit i,
.altmonsterweek article .editor-content .editor-edit i {
  font-size: 1em;
  position: absolute;
  right: -2px;
  top: 5px;
  cursor: pointer;
  text-shadow: none;
}
.altmonsterweek article .editor .tox .tox-tbtn,
.altmonsterweek article .editor-content .tox .tox-tbtn {
  width: 24px;
  height: 24px;
}
.altmonsterweek article .editor .tox .tox-tbtn--select,
.altmonsterweek article .editor-content .tox .tox-tbtn--select {
  width: auto;
}
.altmonsterweek article .editor .tox .tox-toolbar__group,
.altmonsterweek article .editor-content .tox .tox-toolbar__group {
  padding: 0;
}
.altmonsterweek article .editor .tox-tinymce .tox-tbtn[title="Formats"],
.altmonsterweek article .editor-content .tox-tinymce .tox-tbtn[title="Formats"] {
  width: 90px;
}
.altmonsterweek article .editor .tox.tox-tinymce,
.altmonsterweek article .editor-content .tox.tox-tinymce {
  border: none;
  flex: 1;
  min-height: 100px;
}
.altmonsterweek article .editor .tox-toolbar__primary,
.altmonsterweek article .editor-content .tox-toolbar__primary,
.altmonsterweek article .editor .tox-toolbar-overlord,
.altmonsterweek article .editor-content .tox-toolbar-overlord {
  background: transparent;
  background-color: transparent;
}
.altmonsterweek article .editor .tox-editor-header,
.altmonsterweek article .editor-content .tox-editor-header {
  border-bottom: 1px solid var(--faint-color);
}
.altmonsterweek article:hover .editor .editor-edit {
  display: block;
  padding: 0;
  border: none;
  box-shadow: none;
}
.altmonsterweek .editor:hover,
.altmonsterweek .editor:focus {
  cursor: default;
}
.altmonsterweek img {
  background-color: black;
}
.altmonsterweek .inventory-list {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.altmonsterweek .inventory-list .inventory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 2px 0;
  padding: 4px 0 2px 6px;
  line-height: 12px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px inset rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.altmonsterweek .inventory-list .inventory-header h3 {
  margin: 0 -5px 0 0;
  padding-left: 5px;
  color: #191813;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
}
.altmonsterweek .inventory-list .item-list {
  list-style: none;
  margin: 7px 0;
  flex: 1;
  padding: 0 9px 8px 0;
  overflow-y: scroll;
}
.altmonsterweek .inventory-list .item-list .item {
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  display: flex;
  align-items: center;
  background: var(--faintest-color);
}
.altmonsterweek .inventory-list .item-list .item .item-image {
  flex: 0 0 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 0px 0px 5px;
  margin-right: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.altmonsterweek .inventory-list .item-list .item .item-image:hover {
  display: none !important;
}
.altmonsterweek .inventory-list .item-list .item .item-image i {
  color: rgba(0, 0, 0, 0.4);
  display: none;
}
.altmonsterweek .inventory-list .item-list .item .item-image i:hover {
  display: normal !important;
}
.altmonsterweek .inventory-list .item-list .item .item-name {
  margin: 0;
  color: #191813;
}
.altmonsterweek .inventory-list .item-list .item .item-name:hover {
  text-shadow: 0 0 10px red;
}
.altmonsterweek .inventory-list .item-list .item .item-name .chip {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
.altmonsterweek .inventory-list .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.altmonsterweek .inventory-list .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.altmonsterweek .inventory-list .item-list .item-summary {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0.25em 0.5em;
  color: #191813;
}
.altmonsterweek .inventory-list .item-controls {
  flex: 0 0 36px;
  justify-content: flex-end;
}
.altmonsterweek .inventory-list .item-controls a {
  flex: 0 0 22px;
  font-size: 12px;
  text-align: center;
}
.altmonsterweek.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.altmonsterweek.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
