//Fonts
@font-face {
  font-family: 'Signika';
  src: url("../../../fonts/signika/signika-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url("../../../fonts/signika/signika-semibold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: '3rd Man Font';
  src: url(../fonts/3rd_man/3rdMan.otf) format("opentype");
}

@font-face {
  font-family: 'Source Serif Test';
  src: url(../fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf) format("truetype");
}

//Color Variables
@light-color: rgba(0, 0, 0, .25);
@faint-color: rgba(0, 0, 0, .1);
@primary-color: rgba(0, 0, 0, 0.9);
@secondary-color: rgba(0, 0, 0, .65);
@tertiary-color: rgba(0, 0, 0, .4);
@background-color: rgba(236, 233, 233, 1);
@glow-color: #880808;
//Font Variables
@label-font: "3rd Man Font";
@test-font: "Source Serif Pro";
@modesto: "Modesto Condensed", "Palatino Linotype", serif;
@signika: "Signika", sans-serif;
//Misc Variables
@sheet-header-height: 110px;
//Mixins

.altmonsterweek {
  
  .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
    //background: url("/systems/altmonsterweek/images/ui/paper-512.jpg") repeat;
  }

  .rollable, a {
    &:hover {
      text-shadow: none;
      color: @glow-color;
    }
  }

  .sheet-header {
    height: @sheet-header-height;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;

    .profile-img {
      flex: 0 0 @sheet-header-height;
      height: @sheet-header-height;
      margin-right: 10px;
    }

    .header-fields {
      flex: 1;
      height: @sheet-header-height;
    }

    h1.charname {
      margin-bottom: .5rem;
      border-bottom: 1px solid @faint-color;
      input {
        width: 50%;
        height: 100%;
        margin: 1px;
        background: none;
        font-family: @label-font;
        font-size: xx-large;
      }
    }
  }

  .rating {
    text-align: center;
    border-left: 1px solid @faint-color;
    padding: 0 5px;
    label {
      font-size: x-large;
      line-height: 1;
      font-family: @label-font;
      &::after {
        display: block;
        content: '';
        width: 50%;
        border-bottom: 1px solid @faint-color;
        transform: translate(50%, 0);
      }
    }
    input {
      background: none;
      width: 50%;
      font-size: x-large;
      font-family: @label-font;
    }
  }

  .hunter-status {
    overflow: hidden;
    flex-wrap: nowrap;
    margin-bottom: 10px;

    div {
      text-align: center;
      flex: auto;
      &.track-block i.icon {
        color: #7a7971;
        &:hover {
          text-shadow: none;
          color: @glow-color;
        }
      }
    }

    label.header {
      font-weight: 600;
      text-transform: uppercase;
      font-family: @test-font;
    }
  }

  .track {
    white-space: nowrap;  // Don't break between boxes
    span i.harm-divider {
      border-right: 1px solid #191813;
      padding-right: 2.5px;
    }
  }

  //.sheet-body {
    //border-top: 1px solid #AAA;
  //}

  input {
    border: 1px solid transparent;
    border-radius: 3px;
    &:hover, &:focus {
      box-shadow: 0px 0px 0px 1px @glow-color inset;
    }
  }

  /* Sheet Tabs */
  .tabs {
    .item {
      line-height: 40px;
      font-weight: 400;
    }

    .item.active {
      text-decoration: underline;
      text-shadow: none;
      font-weight: 900;
    }
  }

  .tab-content {
    overflow: hidden;
    .tab {
      height: 100%;
      overflow-y: auto;
    }
  }

  .editor, .editor-content {
    height: 100%;
  }

  img {
    background-color: black;
  }

  .inventory-list {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #7a7971;

    .inventory-header {
      margin: 2px 0;
      padding: 0;
      align-items: center;
      background: rgba(0, 0, 0, 0.05);
      border: 2px groove #eeede0;
      font-weight: bold;
      line-height: 24px;

      h3 {
        margin: 0 -5px 0 0;
        padding-left: 5px;
        color: #191813;
        font-size: 20px;
        font-weight: 700;
        font-size: 16px;
      }
    }

    // Item Control Buttons
    .item-controls {
      flex: 0 0 18px;
      justify-content: flex-end;

      a {
        flex: 0 0 22px;
        font-size: 12px;
        text-align: center;
      }
    }
  }

  /* Items List */
  .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;

    .item {
      min-height: 30px;
      line-height: 24px;
      padding: 3px 0;
      border-bottom: 1px solid #BBB;
      align-items: stretch;

      .image-div {
        flex: 0 0 24px;
        margin-right: 5px;
        display: grid;
        background-repeat: no-repeat;
        background-size: cover;
        .item-image i {
          color: @tertiary-color;
          display: none;
        }
      }
    }

    .item-name {
      margin: 0;
      color: #191813;

      // Hint that the name is clickable.
      &:hover {
        text-shadow: 0 0 10px red;
      }
    }

    .item-controls {
      flex: 0 0 36px;
    }

    .item-buttons {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      flex: 2;
      justify-content: flex-start;
    }

    .item-button {
      line-height: 1;
      font-size: 11px;
      flex: none;
      width: auto;
    }
    
    // Item Dropdown Summary
    .item-summary {
      flex: 0 0 100%;
      font-size: 12px;
      line-height: 16px;
      padding: 0.25em 0.5em;
      color: #191813;
    }
  }

  /* Chips */
  .chip {
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0 3px;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
  }
}

.altmonsterweek.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}

.altmonsterweek.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
